/* 详情 */

.zs-wrapper {
    margin: 0 auto;
    width: 1200px;
}

.zs-bread-crumbs {
    margin: 0 0 0 -8px;
    font: 12px/32px SimSun;
    color: #999;
}

.zs-bread-crumbs a {
    color: #333;
}

.zs-bread-crumbs a,
.zs-bread-crumbs span {
    margin: 0 8px;
}

.zs-inner {
    border: 1px solid #ededed;
    overflow: hidden;
}

.zs-deal-detail {
    float: left;
    width: 1000px;
}


/* 放大镜 */

.zs-inner .zs-deal-detail #box{
	width: 424px;
	float: left;
	position:relative;
}

#box ul{
    overflow: hidden;
	position:absolute;
	top:420px;
	left:0;
	width:460px;
}
#box li {
    float: left;	 
	border-top:none;
	width: 70px;
}
.small{
	width:400px;
	height:400px;	
}
.small img{
	position:absolute;
	top:0;
	left:0;
}
#bottom li{
    width:70px;
    height: 70px;
    margin-top:5px;
    margin-left: 10px;
}
#big{
	width:400px;
	height:400px;
	border:1px solid #ccc;
	background: #fff;
	overflow:hidden;
	position:absolute;
	top:0;
	left:420px;
	display:none;
	}
#mask1{
	width:200px;
	height:200px;
	background:red;
	opacity:0.4;
	position:absolute;
	top:0;
	left:0;
	display:none;
	}
.bigImage{
	position:absolute;
	top:0;
	left:0;
	z-index: 100;
}
#small{
	position:relative;
	cursor:move;  
}

#bottom .actice{
    border: 2px solid #c00;
}
#box #bottom .actice{
    margin-top:3px;
    margin-left: 8px;
    border: 2px solid #c00;
}



.zs-action {
    padding: 25px 0;
}

.zs-collect,
.zs-complain,
.zs-share-title {
    float: left;
    position: relative;
    margin: 0 15px 0 0;
    padding: 0 0 0 20px;
    color: #666;
}

.zs-share-box {
    float: left;
    position: relative;
    line-height: 22px;
    color: #666;
}

.zs-collect i {
    background-position: -46px -290px;
}

.zs-share-box .bdsharebuttonbox {
    position: absolute;
    top: 22px;
    left: 20px;
    width: 76px;
    padding: 0 3px 3px 0;
    border: 1px solid #ededed;
    background: #fff;
}

.zs-deal-wrap {
    float: right;
    padding: 10px 20px 0 0;
    width: 530px;
}

.zs-commodity-title {
    display: block;
    margin-bottom: 10px;
}

.zs-commodity-title {
    padding: 7px 0 0;
    font: 16px/22px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
}

.zs-price-panel {
    margin: 0 0 0;
    padding: 5px 10px;
    background: #f7f7f7;
}

.zs-price-panel dl {
    padding: 0 0 0 75px;
    position: relative;
    zoom: 1;
    line-height: 30px;
}

.zs-price-panel dt {
    position: absolute;
    top: 0;
    left: 0;
    width: 65px;
    color: #666;
}

.zs-price-panel dd {
    overflow: hidden;
    zoom: 1;
}

.zs-sale-price .zs-price {
    float: left;
    margin: -2px 0 0;
    height: 32px;
    overflow: hidden;
    font-size: 16px;
    vertical-align: middle;
    color: #c00;
}

.zs-sale-price .zs-price em {
    padding: 0 0 0 5px;
    font-family: tahoma;
    font-size: 30px;
    font-weight: bold;
}

.zs-detail-infor {
    padding: 10px 0 20px;
}

.zs-detail-infor dl {
    position: relative;
    zoom: 1;
}
.zs-freight-a {
    margin: 0 10px;
    padding: 5px 0 0;
    z-index: 2;
}

.zs-freight-a dt {
    top: 0;
}

.zs-detail-infor dt {
    position: absolute;
    top: 0;
    left: 0;
    height: 32px;
    line-height: 32px;
    color: #666;
}

.zs-detail-infor dd {
    padding: 0 0 0 65px;
    line-height: 32px;
}

.zs-freight-area {
    float: left;
    position: relative;
}

.area-selected-wrap {
    line-height: 23px;
}

.area-selected {
    position: relative;
    float: left;
    z-index: 5;
}
.area-selected .area-name,
.selecet-layer-wrap .close,
.selecet-tab li span,
.detail-head .close {
    background: url(http://icon.zol-img.com.cn/newshop/shop/detail/youdian/icon20150707.png) no-repeat;
}
.area-selected .area-name {
    position: relative;
    display: inline-block;
    height: 23px;
    border: 1px solid #e6e6e6;
    padding: 0 20px 0 6px;
    line-height: 23px;
    cursor: pointer;
    background-position: 100% 0;
    z-index: 6;
    background-color: #fff;
}



.zs-freight-area span {
    padding: 0 7px;
    display: inline-block;
}

.area-selected-infor,
#heyueText {
    margin-left: 10px;
    float: left;
}

.zs-detail-infor dl {
    position: relative;
    zoom: 1;
}

.zs-service-bar {
    margin: 0 10px;
}

.zs-service-bar dd ul img{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 24px;
    height: 24px;
}

.zs-detail-infor dt {
    position: absolute;
    top: 0;
    left: 0;
    height: 32px;
    line-height: 32px;
    color: #666;
}

.zs-detail-infor dd {
    padding: 0 0 0 65px;
    line-height: 32px;
}

.zs-service-bar .link {
    color: #36c;
}

.zs-service-bar li {
    float: left;
    position: relative;
    zoom: 1;
    margin: 0 0 5px;
    padding: 0 0 0 28px;
    width: 82px;
    height: 24px;
    font: 12px/22px "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1";
}


.zs-skin-inner {
    margin: 10px 0px 15px;
    border-top: 1px solid #f2f2f2;
}
.zs-skin-inner .zs-colour-type {
    padding: 0 0 0 0;
    margin-top: 10px;
}
.zs-detail-infor dl {
    position: relative;
    zoom: 1;
}

.zs-skin-inner .zs-colour-type dt {
    top: 4px;
    left: 10px;
}
.zs-detail-infor dt {
    position: absolute;
    top: 0;
    left: 0;
    height: 32px;
    line-height: 32px;
    color: #666;
}
.zs-skin-inner .zs-colour-type dd {
    padding-bottom: 4px;
}
.zs-skin-inner dd {
    padding-left: 75px;
}
.zs-detail-infor dd {
    padding: 0 0 0 65px;
    line-height: 32px;
}
.zs-options li {
    float: left;
    margin: 5px 6px 0 0;
    position: relative;
}
.zs-options .cur .can-buy, .zs-options li .can-buy:hover {
    padding: 0 9px;
    height: 26px;
    line-height: 26px;
    border: 2px solid #c00;
    color: #333;
    text-decoration: none;
    cursor: pointer;
}
.zs-options li a, .zs-options li span {
    white-space: nowrap;
    display: inline-block;
    padding: 0 10px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #e6e6e6;
    color: #333;
    background-color: #FFF;
}
.zs-options .cur .can-buy i {
    display: block;
    position: absolute;
    right: 1px;
    bottom: 2px;
    _right: 0;
    width: 10px;
    height: 10px;
    background-position: 0 -346px;
    font: 0/0 arial;
}


.zs-colour-type, .zs-suit {
    padding: 15px 0 0;
}
.zs-colour-type dt, .zs-suit dt {
    top: 20px;
}
.zs-skin-inner .zs-quantity dt, .zs-skin-inner .zs-suit dt {
    left: 10px;
}


.zs-suit-infor {
    margin: 5px 0 0;
    padding: 8px 10px;
    border: 1px solid #e6e6e6;
    background: #fafafa;
    line-height: 20px;
}
.zs-skin-inner dd {
    padding-left: 75px;
}

.zs-quantity {
    padding: 20px 0 0;
}
.zs-quantity dd {
    color: #999;
}
.amount-widget {
    float: left;
    margin: 0 10px 0 0;
    width: 102px;
    height: 28px;
    border: 1px solid #e6e6e6;
}
.zs-increase, .zs-no-increase, .zs-decrease, .zs-no-decrease {
    float: left;
    width: 28px;
    height: 28px;
    background-color: #f8f8f8;
    cursor: pointer;
}
.zs-no-decrease {
    background-position: 0 -197px;
}
.zs-goods-number {
    float: left;
    width: 44px;
    height: 28px;
    text-align: center;
    font: 12px/28px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
    border: 0 none;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    color: #333;
}
.zs-increase {
    background-position: -32px -169px;
}


.zs-deal-btn {
    padding: 30px 0 0 65px;
    height: 50px;
}
.zs-buy-now, .zs-store-buy, .zs-add-cart, .zs-buy-off, .zs-presell-btn, .zs-presell-over-btn, .zs-look-comment {
    float: left;
    margin: 0 10px 0 0;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font: 18px/50px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
    text-align: center;
}
.zs-buy-now {
    width: 140px;
    height: 50px;
    color: #fff;
    background: #c00;
}
.zs-store-buy, .zs-add-cart {
    width: 138px;
    height: 48px;
    border: 1px solid #ffd9d9;
    background-color: #ffeded;
    color: #c00;
    line-height: 48px;
}



.zs-store-infor {
    float: right;
    margin: 0 0 -500px;
    padding: 0 0 500px;
    width: 197px;
    border-left: 1px solid #ededed;
}
.zs-store-name {
    padding: 26px 10px;
    text-align: center;
    border-bottom: 1px solid #eee;
}
.zs-store-name h3 {
    font: 14px/22px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
}
.zs-store-name .zs-label {
    display: block;
    margin: 5px auto 0;
    width: 52px;
    height: 16px;
    font: 12px/16px arial;
    color: #fff;
    background: #c00;
    text-align: center;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}


.zs-store-infor .zs-modbox {
    margin: 0;
    padding: 0 15px;
    border: 0 none;
}
.zs-store-infor .zs-modbox-hd {
    padding: 0;
    border: 0 none;
    background: none;
    font-size: 12px;
    color: #999;
}
.zs-modbox-hd {
    padding: 0 10px;
    height: 32px;
    font: 14px/32px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
    border-bottom: 1px solid #ededed;
    background: #fafafa;
}
.zs-store-infor .zs-custom-service li {
    padding: 3px 0;
    color: #666;
}
.zs-custom-service li {
    overflow: hidden;
    zoom: 1;
}
.zs-custom-service a {
    float: left;
}
.zs-store-infor .zs-custom-service img {
    margin: 0 6px 0 0;
}
.zs-custom-service img {
    display: inline-block;
    margin: 0 10px 0 0;
}
.zs-custom-service span {
    float: left;
    line-height: 24px;
}
.zs-contact-way {
    padding: 5px 0 0;
}


.zs-contact-way .zs-label {
    position: absolute;
    top: 5px;
    left: 0;
    display: block;
    color: #999;
}
.zs-contact-way li {
    position: relative;
    zoom: 1;
    padding: 5px 0 5px 60px;
    color: #666;
}

.zs-store-infor .zs-modbox-hd {
    padding: 0;
    border: 0 none;
    background: none;
    font-size: 12px;
    color: #999;
}


.zs-store-score li {
    font: 12px/24px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
    color: #999;
}

.zs-store-score .above, .zs-store-score .flat {
    color: #c00;
}
.zs-store-score em {
    padding: 0 15px 0 0;
    font-weight: bold;
}
.zs-store-score li {
    font: 12px/24px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
    color: #999;
}


.zs-collect-box {
    margin: 22px 0 0;
    text-align: center;
}


.zs-collect-box .zs-btn {
    display: inline-block;
    margin: 0 4px;
    width: 77px;
    height: 28px;
    font: 14px/28px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
    text-align: center;
    border: 1px solid #e6e6e6;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: #fafafa;
    color: #666;
}


/* 店铺热卖 */

.zs-modbox {
    margin: 10px 0 0;
    border: 1px solid #ededed;
}

.zs-modbox-hd {
    padding: 0 10px;
    height: 32px;
    font: 14px/32px "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1";
    border-bottom: 1px solid #ededed;
    background: #fafafa;
}
.zs-product-list li {
    float: left;
    padding: 20px 22px 22px;
    width: 150px;
}
.zs-product-list li a {
    display: block;
    color: #333;
}
.zs-product-list .zs-pic {
    width: 150px;
    height: 150px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    cursor: pointer;
}
.zs-product-list .zs-pic img {
    vertical-align: middle;
}
.zs-product-list .zs-price {
    padding: 4px 0 0;
    height: 30px;
    overflow: hidden;
    font: 12px/30px Verdana;
    color: #f33;
}
.zs-product-list .zs-price span {
    font-size: 18px;
}
